@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        At MCBA, we are committed to redefining the banking experience for you. With a legacy of trust and innovation, we have emerged as a new bank, uniquely efficient and dedicated to safeguarding your financial well-being. Our mission is to provide you with unparalleled convenience and security, ensuring that your hard-earned money is in the safest hands.

        We understand the importance of your financial journey, whether you're saving for your dream home, planning for your child's education, or securing your retirement. That's why we offer a comprehensive suite of banking services designed to meet your diverse needs.

        At MCBA, efficiency is our hallmark. Our cutting-edge technology ensures seamless transactions, while our unwavering commitment to security guarantees your peace of mind. With us, you can trust that your financial aspirations will flourish in a safe and nurturing environment.

        Join us on this exciting journey towards financial success, where your goals are our goals. Experience banking like never before with MCBA, your trusted banking partner.
    </p>
</div>
<p>

</p>
<div class="image-container">
    <img src="@Url.Content("~/Images/image1.jpg")" alt="Image 1">
    <img src="@Url.Content("~/Images/image2.jpg")" alt="Image 2">
    <img src="@Url.Content("~/Images/image3.jpg")" alt="Image 3">
    <img src="@Url.Content("~/Images/image4.jpg")" alt="Image 4">
</div>